{% extends "base.html" %}
{% load static %}

{% block title %}
Checks - {{ monitor.name }}
{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <div>
            <h1 class="mb-1">
                Checks
            </h1>

            <div class="text-muted">
                {{ monitor.name }}
            </div>
        </div>

        <a
            href="{% url 'monitor_detail' monitor.id %}"
            class="btn btn-outline-secondary rounded-pill">
            Torna al monitor
        </a>

    </div>


    <div class="row mb-3 align-items-center">

        <!-- ordinamento -->
        <div class="col-lg-4">
            <select
                id="ordering-check"
                class="form-select">

                <option value="-executed_at">
                    Più recenti
                </option>

                <option value="executed_at">
                    Più vecchi
                </option>

                <option value="-response_time_ms">
                    Response time maggiore
                </option>

                <option value="response_time_ms">
                    Response time minore
                </option>

            </select>
        </div>

        <!-- filtro -->
        <div class="col-lg-3">
            <select
                id="success-filter"
                class="form-select">

                <option value="">
                    Tutti
                </option>

                <option value="true">
                    Riusciti
                </option>

                <option value="false">
                    Falliti
                </option>

            </select>
        </div>

    </div>


    <div class="card shadow-sm border-0">

        <div class="table-responsive">

            <div class="card-body p-0">

                <table class="table table-hover align-middle mb-0">

                    <thead>
                        <tr>
                            <th>Stato</th>
                            <th>Data/Ora</th>
                            <th>Status code</th>
                            <th>Response time</th>
                            <th>Errore</th>
                        </tr>
                    </thead>

                    <tbody id="check-table-body"></tbody>

                </table>

            </div>

        </div>

    </div>


    <div
        id="pagination"
        class="d-flex justify-content-center mt-4">
    </div>

</div>

{% endblock %}

{% block javascript %}

<script>
    const monitorId = {{ monitor.id }};
</script>

<script src="{% static 'js/monitor_checks.js' %}"></script>
{% endblock %}