{% extends "base.html" %}
{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="container py-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Uptime Monitor</h1>

        <button class="btn btn-primary">
            Nuovo Monitor
        </button>
    </div>

    <div class="row mb-3 align-items-center">
        <!-- ricerca -->
        <div class="col-lg-6">
            <input
                type="text"
                id="search-monitor"
                class="form-control"
                placeholder="Cerca monitor..."
            >
        </div>

        <div class="col-lg-3">
            <!-- ordinamento -->
            <select id="ordering-monitor" class="form-select">
                <option value="name">Nome (A → Z)</option>
                <option value="-status">Status (DOWN prima)</option>
                <option value="status">Status (UP prima)</option>
                <option value="-created_at">Più recenti</option>
            </select>
        </div>

        <!-- filtri -->
        <div class="col-lg-3">
            <select id="status-filter" class="form-select">
                <option value="">Tutti gli stati</option>
                <option value="up">UP</option>
                <option value="down">DOWN</option>
                <option value="paused">PAUSED</option>
                <option value="not_started">NOT STARTED</option>
            </select>
        </div>
    </div>

    <div class="row">
        <!-- lista monitor -->
        <div class="col-lg-8">
            <div id="monitor-list">
                Caricamento monitor...
            </div>
        </div>

        <div class="col-lg-4">
            <!-- overview -->
            <div class="card shadow-sm sticky-top" style="top:20px;">
                <div class="card-header">
                    <h5 class="mb-0">Overview</h5>
                </div>

                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-1">
                        <span>Totali</span>
                        <h5 id="total-monitors" class="mb-0">-</h5>
                    </div>

                    <hr>

                    <div class="d-flex justify-content-between align-items-center mb-1">
                        <span class="text-success">UP</span>
                        <h5 id="up-monitors" class="mb-0 text-success">-</h5>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mb-1">
                        <span class="text-danger">DOWN</span>
                        <h5 id="down-monitors" class="mb-0 text-danger">-</h5>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-warning">PAUSED</span>
                        <h5 id="paused-monitors" class="mb-0 text-warning">-</h5>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-muted">NOT STARTED</span>
                        <h5 id="not-started-monitors" class="mb-0 text-muted">-</h5>
                    </div>
                </div>
            </div>
            <!-- ultimi incidenti -->
            <div class="card shadow-sm mt-3">
                <div class="card-header">
                    <h5 class="mb-0">Ultimi incidenti</h5>
                </div>

                <div class="card-body">
                    <div id="incident-list">
                        Caricamento incidenti...
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<template id="monitor-card-template">
    <div class="card mb-1 shadow-sm">
        <div class="card-body py-1">
            <div class="row align-items-center">
                <div class="col-4">
                    <div class="d-flex align-items-center">
                        <!-- nome -->
                        <h5 class="monitor-name me-2 mb-0"></h5>
                        <!-- badge -->
                        <span class="badge monitor-status me-2"></span>
                    </div>
                        <!-- ultima risposta -->
                    <p class="monitor-response-time text-muted small mb-0 fst-italic mt-2">
                        caricamento...
                    </p>
                </div>

                <!-- cerchio uptime -->
                <div class="col-4 d-flex justify-content-center">
                    <div class="uptime-circle-container">
                        <svg class="uptime-circle" width="70" height="70">
                            <circle
                                class="circle-bg"
                                cx="35"
                                cy="35"
                                r="30">
                            </circle>

                            <circle
                                class="circle-progress"
                                cx="35"
                                cy="35"
                                r="30">
                            </circle>
                        </svg>

                        <div class="uptime-circle-text">
                            <span class="uptime-percentage">-</span>
                            <small>24h</small>
                        </div>
                    </div>
                </div>

                <div class="col-4 text-end">
                    <!-- intervallo check -->
                    <small class="monitor-interval text-muted fst-italic d-block"></small>
                    <!-- ultimo check -->
                    <small class="monitor-last-check text-muted fst-italic d-block"></small>
                </div>
            </div>
        </div>
    </div>
</template>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/homepage.js' %}"></script>
{% endblock %}