{% extends "base.html" %}
{% load static %}

{% block title %}
Incidenti
{% endblock %}

{% block body_class %}incidents-page{% endblock %}


{% block content %}

<div class="container py-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Incidenti</h1>
    </div>

    <div class="row mb-3 align-items-center">

        <!-- ricerca -->
        <div class="col-lg-5">
            <input
                type="text"
                id="search-incident"
                class="form-control"
                placeholder="Cerca nome monitor..."
            >
        </div>

        <!-- ordinamento -->
        <div class="col-lg-4">
            <select id="ordering-incident" class="form-select">
                <option value="-started_at">Più recenti</option>
                <option value="started_at">Più vecchi</option>
            </select>
        </div>

        <!-- filtro -->
        <div class="col-lg-3">
            <select id="status-filter" class="form-select">
                <option value="">Tutti</option>
                <option value="active">Attivi</option>
                <option value="resolved">Risolti</option>
            </select>
        </div>

    </div>
    
    <div class="card shadow-sm border-0">
        <div class="table-responsive">
            <div class="card-body p-0">
                <table class="table table-hover align-middle mb-0">
                    <thead>
                        <tr>
                            <th>Stato</th>
                            <th>Monitor</th>
                            <th>Causa</th>
                            <th>Inizio</th>
                            <th>Fine</th>
                            <th>Durata</th>
                        </tr>
                    </thead>
                    <tbody id="incident-table-body"></tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="pagination" class="d-flex justify-content-center mt-4"></div>
    
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/incidents.js' %}"></script>
{% endblock %}